# Описание unit-файла таймера systemd.
[Unit]
# Человекочитаемое описание таймера.
Description=Periodic refresh of UFW SKIPA blocklist from CyberOK_Skipa_ips

# Описание настроек таймера.
[Timer]
# Первый запуск сделать через 5 минут после загрузки системы.
OnBootSec=5min
# Повторять запуск каждые 24 часа после последнего старта сервиса.
OnUnitActiveSec=24h
# Добавлять случайную задержку, чтобы не делать запрос к GitHub в одну и ту же секунду на всех хостах.
RandomizedDelaySec=30min
# Если сервер был выключен в момент планового запуска, выполнить пропущенный запуск после старта.
Persistent=true
# Явно указываем, какой service unit должен запускаться этим таймером.
Unit=skipa-banlist.service

# Описание секции установки unit-файла.
[Install]
# Подключать таймер к стандартной группе systemd таймеров.
WantedBy=timers.target
